### Control Structures - If-Elif-Else

In [1]:
a = int(input("Enter a number: "))

Enter a number: 1

In [2]:
if(a<2):
    print("1")
elif(a==2):
    print("2")
else:
    print("NA")

1

In [3]:
# For strings
statement = "The coffee is terrible..!"

In [4]:
if 'terrible' in statement:
    print("Bad review")

Bad review

In [5]:
x = None

if x:
  print("Do you think None is True?")
elif x is False:
  print ("Do you think None is False?")
else:
  print("None is not True, or False, None is just None...")

None is not True, or False, None is just None...

In [6]:
type(x)

NoneType

The None keyword is used to define a null variable or an object. In Python, None keyword is an object, and it is a data type of the class NoneType.

### LOOPS

In [7]:
for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
my_string = "Mary had a little lamb"

In [10]:
for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [11]:
for n, alphabet in enumerate(my_string):
    print(alphabet, n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [12]:
tweet = "#beautiful #morning it is"

In [13]:
for word in tweet.split():
    if word.startswith("#"):
        print(word[1:])

beautiful
morning

In [14]:
student_data = {1 : ['Harry Potter', 41], 2 : [['Ginny Weasley'], 40]}

In [15]:
print(student_data)
print(type(student_data))

{1: ['Harry Potter', 41], 2: [['Ginny Weasley'], 40]}
<class 'dict'>

In [16]:
for key,val in student_data.items():
    print(val,key)

['Harry Potter', 41] 1
[['Ginny Weasley'], 40] 2

In [17]:
start = 20
total = 0

In [18]:
while start<51:
    total += start
    start+=1
    print(start, total)
print(total)

21 20
22 41
23 63
24 86
25 110
26 135
27 161
28 188
29 216
30 245
31 275
32 306
33 338
34 371
35 405
36 440
37 476
38 513
39 551
40 590
41 630
42 671
43 713
44 756
45 800
46 845
47 891
48 938
49 986
50 1035
51 1085
1085

In [25]:
start = 20
while start<51:
    start+=1
    print(start)
    if(start == 30):
        break
        print("This statement")

21
22
23
24
25
26
27
28
29
30

In [28]:
start = 20
while start<51:
    start+=1
    print(start)
    if(start == 30):
        continue
        print("This statement")

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [29]:
start = 20
while start<51:
    start+=1
    print(start)
    if(start == 30):
        pass
        print("This statement")

21
22
23
24
25
26
27
28
29
30
This statement
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [30]:
# break - exit iteration
# continue - continue loop
# pass - pass execution